
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
body
{
    overflow-x: hidden;
    background: #030303;
}
h1,
h4,
p,
a
{
    color: #fff;
    text-decoration: none;
}
ul
{
    list-style: none;
}
.btn
{
    padding: 12px 32px;
    font-size: 1rem;
    text-transform: uppercase;
    background: rgb(248, 217, 15);
    color: #222;
    border: 1px solid #fff;
    font-weight: 600;
    cursor: pointer;
}
.btn-light
{
    background: transparent;
    color: #fff;
}
.btn:hover
{
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    transition: 0.20s;
}
@media screen and (max-width:640px) {
    .emial h4{
        display: flex;
        align-items: center;
        font-size: 16px;
        padding-bottom: 0;
    }
}
